* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  /*height: 100%;*/
  background-color: #242C33;
  color: #4FAFB8;
  font: 14px "微软雅黑", "Lucida Grande", Helvetica, Arial, sans-serif;
}

@media all and (max-width:500px) {
  h1>span {
    display: none;
  }
}

#index_page {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  cursor: default;
}

h1 {
  text-align: center;
  padding-top: 100px;
  font-size: 35px;
}

h1 img {
  width: 100px;
  height: auto;
  vertical-align: middle;
  margin: 10px;
}

p {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 18px;
}

fieldset {
  margin: 50px auto;
  max-width: 300px;
  width: 100%;
}

fieldset label {
  color: #8CC7CC;
}

input:focus {
  outline: none;
  box-shadow: 0 0 15px 0 #5DADE2;
}

.pw-tips {
  margin: 5px 3px 0;
  color: #E74C3C;
  display: none;
}

form .signUp-tip{
  text-align: center;
}

form span{
  color: #6A878D;
}

.btn {
  background-color: #4EB1BA;
  color: #FFFFFF;
  margin: 30px 0 5px;
}

.btn:hover,
.btn:focus,
.btn:active {
  color: #FFFFFF;
}